@model List<TaskManagement.Models.Task>
@{
    ViewData["Title"] = "Tasks List";
}
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4>Tasks List</h4>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="New">New Task</a>
        </div>
    </div>
    <form method="get" action="@Url.Action("Index")">
        <div class="row pb-3">
            <div class="col-4">
                <select name="userId" class="form-control">
                    <option value="">All Users</option>
                    @foreach (var user in ViewBag.UsersList)
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">OK</button>
            </div>
        </div>
    </form>
    <div id="taskList">
        <table class="table table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Users</th>
                   @*  <th>Update</th> *@
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@task.Id</td>
                        <td>@task.Name</td>
                        <td>@task.Description</td>
                        <td>@task.DueDate.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (task.UserTasks != null)
                            {
                                <ul>
                                    @foreach (var userTask in task.UserTasks)
                                    {
                                        <li>@userTask.User.Name</li>
                                    }
                                </ul>
                            }
                        </td>
                        @* <td><a class="btn btn-primary" asp-action="Update" asp-route-id="@task.Id">Update</a></td> *@
                        <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@task.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
